@charset "UTF-8";

.cssskin-Text_Button_honbun .c-body {
  font-weight: bold;
}

@media only screen and (max-width: 641px) {
.cssskin-Text_Button_honbun .c-body {
  margin-bottom: 10px;
  margin-top: 10px;
}

}
